<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=Northwind.sqlite;Version=3;New=False;"/>
    <!--<add name="Southwind" connectionString="Data Source=.\sqlexpress; Database=Northwind; Integrated Security=true;"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="NorthwindConnection"/>
  <SubSonicService defaultProvider="Northwind" >
    <providers>
      <clear/>
      <add name="Northwind" type="SubSonic.SQLiteDataProvider, SubSonic" connectionStringName="Northwind" generatedNamespace="Northwind" />
      <add name="NorthwindRepository" type="SubSonic.SQLiteDataProvider, SubSonic" connectionStringName="Northwind" generatedNamespace="NorthwindRepository" tableBaseClass="RepositoryRecord"/>
      <!--<add name="Southwind" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Southwind" generatedNamespace="Southwind" />-->
    </providers>
  </SubSonicService>
</configuration>
